Byte-compiled / optimized / DLL files

pycache/
*.py[codz]
*$py.class

Distribution / packaging

.Python
build/
dist/
lib/
lib64/
*.egg-info/
*.egg

Unit test / coverage reports

.cache
.pytest_cache/

Environments

.env
.venv
env/
venv/
bio_env/

Custom Environment (Fixed)

bio_env/ - এই ফোল্ডারটি এখন ইগনোর লিস্টে আছে।

Visual Studio Code

.vscode/
tempCodeRunnerFile.py

Project Specific

results/ - এই লাইনটি আমি সরিয়ে দিয়েছি যাতে এটি গিটহাবে আপলোড হয়।